.post_wrapper {
  width: 310px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #6C757D;
}

.preview_post_image {
  width: 310px;
  height: 280px;
  border-radius: 5px;
}

.preview_post_date {
  font-size: 12px;
  font-weight: 400;
}

.preview_post_title {
  color: #495057;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.preview_post_description {
  color: #6C757D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
